<div class="container">
  <ul class="nav">
    <li><a href="/karabuluts">Home</a></li>
    <li><a href="/abouts">My Story</a></li>
    <li style="display: inline-block;"><a href="https://www2.heart.org/site/TR/Marathon/MWA-MidWestAffiliate?px=26207527&pg=personal&fr_id=8944">Donate</a></li>
  </ul>
</div>
