<%= stylesheet_link_tag 'application' %>



<%# navbar %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span gitclass="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/karabuluts">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/abouts">My Story</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www2.heart.org/site/TR/Marathon/MWA-MidWestAffiliate?px=26207527&pg=personal&fr_id=8944">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="intro">Look, it's 1996!</h1>
<p>We're going back in time, to a place where <a href="https://firstmonday.org/ojs/index.php/fm/article/view/799/708">Al Gore invented the internet</a>, everyone was getting <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Rick Rolled</a>, and all of our favorite cat's name was <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4&ab_channel=NyanCat
">Nyan</a>  </p>


<p>  </p>

<p>Welcome to Mimi's first website, to support an awesome cause!</p>



<h1>Why I'm running the 2023 Chicago Marathon</h1>


<p> These are pictures of my mom and dad. If you know me, you know I love my mom and dad. What you might not know is they both died of heart attacks before I turned 30. </p>

<p> As tragic as this is, it has motivated me to take control of my health. I am running the 2023 Chicago Marathon for my parents, for my family, and for myself. As long as I live, I will do everything in my power to take care of my own heart and everyone's heart around me ❤️ </p>

<%# Carousel %>

<%# <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://lh3.googleusercontent.com/pw/AJFCJaUsmX8EbPMZHXViM1XExs2MCn1Ccb0a6VptQg-WKAP8s56efHQcDgXmdSsVlx4sEzUYhU8qhCkkTtCFsbJu403ymtYiqIxU2eywHwgew4dMjr2nwrrdUjcYz6RGNnKtjb5bEEpnikJ5cRgrLgKlUPTeGCyejG4WhbjngIl6bQAeBp5JyskaY4JYRN15wFEGH5Mht7OwUrMhi1ETkpzyXPp3JPg9O9y7dY8_do9APokow8V0eCKAgPOoDlIpSkh-v7B4t4IEdcgyff74OA7jR9sgIIV1ywNFGefoCiah8o_0AwfWYfjJJzG0TPt0Yq7u9ayMt5UL2n2HAFNDWiyGMnrZSXurSiDMWMqBLk9u0wnnxttiLzHhXtdsx9uKNxPYTHlW-y5sN9nSbV0CPP_B05OAru_gPZpfCshe1oaqMrsilCXG4CLxTvf2Jzd6U5W_UfuDskSvaYTzq9ihm9WKvKW71TEaOhIHtyhoAU8g2ZdoNBh6_2f2e25gjC9mDWyvrqlRFd7nbhSVIl8Gzmg2wFZAMNCt96ujp-t4fJl6GYWZg-NxfP_49b6FioSbCKxBWBzAYEbZgWlCWjxr2xqjbSdnLvFKuqhze_eP_jmBEgkt4xPvpFMexk4xZYMqNFB7Nnov8kvLu9OI3MbPZgzrETNPmDbIJaoKdc8CPobZlcEbsX2RhUC16v39KAihtvUmAR7X3j38rjKlGgBjUvwEz0p7dS1kLqNJJNEmbthzSQ6pVwVv61gXmjwWhM_Qy6ZXBa3ubMql2vpM0ABsgZCRJbup8rhfhLtljpl7sUEO3uvHctgwddzAWTHyyZ5q1iJSNkPWenx8QNMcGakCuavvyXml-j6P2JQyFnoJklGwbtFwXqCv7I75nx1XMuvkPBPRouxff1b8kVLM0Se_kSnL4Q4PD_E=w580-h633-s-no?authuser=0" class="d-block w-100" alt="Sultana Mustafa Karabulut and Ismail Karabulut">
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/800x400.png?text=Slide+2" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/800x400.png?text=Slide+3" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> %>




  <img src ="https://lh3.googleusercontent.com/pw/AJFCJaXnMinsc45ch_D9D5SZZPpnVWnpI0LIpUfmz_mBn2jHfi-MUAiRWopklvibVgbkYcpiqYz604EoDKPqYecU75I3IGM3YTCSY7z4q0KUHlODDiNK0KS7gNURa7q4_R9K_RLD9B21ryGm7aByzFPLHyVgB-Syywrm2nviA5Gs7L9K3LEt5SBVt8QGXBJZWBQFDfu68nGkhs2jUEICdI0_plBSdQeenFoY8c2JZFzY9BZtiJ3MVjQLiK1JuDekxT6DE3sHhLsWP7XGzvN4WE6e-28wog1n2g4B9CED5eVep4sZjgupt5h8NwsEDy9UBa1CIfbMHCbKaBX_20Lq-bcgBv-riWua8L-lM-R3Sf1ZowrvBWM7_I8PU4nW2ju22-hVOnXR4Y8u0r3v_J_k749yPXGDFvYSVRt7TXTvqlOEiwINnsPdEzjsIYwElT_KRwkEb9U6a41Ke86OgS5By9lSvzcUZgp_m4xGrtHASO-V2A-VTeuawgIUWvnp8EYhH3tQ7-nu4Zg9UIqrU1Y4ibzUMl_RNniWpbLE1tjzAh9Y8owG7vu3QKgCsW5_fqhGebffq04mEeIUJqAiZ9r2fcOUNZgh6m47DeEzaKDSvKyyY_tcaqgS15C-xi8GxMutLiKtEIJd8FY7jIZFqA3NXs9zWexshWGIA-gl6-tVpt-UFzGh1ZHGSXTxS3DwXA49WIwRK-CQKp79sDuClace0p41AKd894sPWih7Q9qGTkiYPbqy8khtFN5WRuwlHu3l3rMQm-kgh0BpN5R02D5G6WE9z3yCFLuZOPM9JtjtUvwM1K6Y89NGB_sudYJu2mBo6T5Dej7HJ1Rjj_Jqfihy-Y1fiYgnC0qaO9nasCxvqhteDmP86a9-ctlgYDp6vgaYTMqQ_Uj2EwcTkppkCfMUHft29H7oQTs=w580-h633-s-no?authuser=0" alt="Sultana Mustafa Karabulut and Ismail Karabulut" class="fade-in">








