<h1>Welcome to 1996!</h1>
<p>We're going back in time, to a place where Al Gore invented the internet, everyone was getting Rick Roll'd, and a joyful dancing baby ended up in all of our inboxes... </p>

<p>Welcome to Mimi's first website, to support an awesome cause!</p>

<h1>Why you should care about my fundraising for the American Heart Association</h1>



